:root {
	--meter-width: 300px;
	--needle-cap: 20px;
	--primary-color: #252525;
	--secondary-color: #DADADA;
}

body {
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

.demo-container {
	width: 60vw;
	margin: 60px auto;
	padding: 10px;
}

.meter-amount {
	font-family: Verdana, Arial;
	font-weight: normal;
}

.meter-amount__value {
	font-size: 40px;
	text-align: center;
}

.meter-amount__data {
	display: flex;
	justify-content: space-between;
	margin: -30px auto 0;
	width: var(--meter-width);
}

.meter-display {
	clear: both;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	width: var(--meter-width);
	/* height: (var(--meter-width) / 2) + 20px; */
	height: calc(calc(var(--meter-width) / 2) + 20px);
	position: relative;
}

.semi-circle {
	position: relative;
}

.semi-circle:before{
	background: var(--secondary-color);
	border-radius: var(--meter-width) var(--meter-width) 0 0;
	content: "";
	height: calc(var(--meter-width) / 2);
	position: absolute;
	width: var(--meter-width);
}


.semi-circle:after {
	background: var(--primary-color);
	border-radius: var(--meter-width) var(--meter-width) 0 0;
	content: "";
	height: 130px;
	width: calc(var(--meter-width) - calc(var(--needle-cap) * 2));
	position: absolute;
	left: var(--needle-cap);
	bottom: calc(calc(var(--meter-width) / 2) * -1);
}

.needle {
	width: 145px;
	left: 5px;
	height: 6px;
	z-index: 3;
	top: calc(var(--meter-width) / 2);
	position: absolute;
	transition: transform 1s ease;
	transform-origin: 100% 3px;
}


.needle__tip {
	position: absolute;
	background: var(--primary-color);
	height: var(--needle-cap);
	width: 25px;
	top: -7px;
	left: -9px;
}

.needle__line {
	background: var(--secondary-color);
	width: 100%;
	position: absolute;
	height: 100%;
	border-radius: 2px;
}

.needle__circle {
	height: 10px;
	width: 10px;
	background: var(--primary-color);
	position: absolute;
	right: -10px;
	top: -7px;
	border-radius: 50%;
}
